<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body data-spy="scroll" data-target=".toc" data-offset="20">
        {% include svg-icons.html %}
        {% include header-post.html %}
        <!-- {% include tree-posts.html %} -->
        <div id="toc"></div>
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
            {% if page.date %}
                <div class="time">
                    <time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
                </div>
            {% endif %}

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>
            
            {% include scripts.html %}
        </section>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#toc').toc();
            });
        </script>
    </body>
</html>
